.setPasswordForm {
  text-align: left;
  .inputComponent {
    margin-top: 0;
    margin-bottom: 10px;
    button {
      top: 45%;
    }
  }
  p {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
  }
  .resetButton {
    margin-top: 15px;
  }
}
