@import "../../styles/colors";

.authContainer {
  max-width: 400px;
  width: 100%;
  padding: 10px;
  h2 {
    color: $gray900;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 700;
  }
}
