@import "../../styles/colors";

.inputWrapper {
  position: relative;
  width: 100%;
  margin-top: 20px;
  input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 6px;
    border: 1.2px solid $gray300;
    padding: 15px;
    font-size: 14px;
  }
}

.togglePassword {
  position: absolute;
  right: 10px;
  line-height: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.errorMessage {
  margin-top: 5px;
  font-size: 14px;
  width: 100%;
  color: red;
}
